<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sembrios</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-ico" href="favicon.ico">
</head>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="../main/">Inicio</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../register/"
            >Agregar trabajadores</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="../galeria/">Galeria</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
    
                  <h2 class="fw-bold mb-2 text-uppercase">Registro de Usuario</h2>
                  <p class="text-white-50 mb-5">Ingrese contraseña y usuario por favor!</p>

                  <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
                    <div class="form-outline form-white mb-4">
                        <label class="form-label" for="typeEmailX">Correo</label>
                        <input type="email" class="form-control form-control-lg" formControlName="email" />
                        
                      </div>
        
                      <div class="form-outline form-white mb-4">
                        <label class="form-label" for="typePasswordX">Contraseña</label>
                        <input type="password" class="form-control form-control-lg" formControlName="password" />
                        
                      </div>
                      <input class="btn btn-primary" type="submit" value="Enviar">
                  </form>
    
                </div>


            

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
